
*.pdb
BusInspector.Api/BusInspector.Data/obj/Debug/BusInspector.Data.dll
BusInspector.Api/BusInspector.Data/obj/Debug/BusInspector.Data.pdb
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Data.dll
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Data.pdb
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Repository.dll
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Repository.pdb
BusInspector.Api/.vs/BusInspector/v15/.suo
BusInspector.Api/.vs/BusInspector/v15/Server/sqlite3/storage.ide
BusInspector.Api/.vs/BusInspector/v15/Server/sqlite3/storage.ide-shm
BusInspector.Api/.vs/BusInspector/v15/Server/sqlite3/storage.ide-wal
BusInspector.Api/BusInspector.Data/bin/BusInspector.Data.dll
BusInspector.Api/BusInspector.Data/bin/BusInspector.Data.pdb
BusInspector.Api/BusInspector.Data/obj/Debug/BusInspector.Data.dll
BusInspector.Api/BusInspector.Data/obj/Debug/BusInspector.Data.pdb
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Data.dll
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Repository.dll
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Data.pdb
BusInspector.Api/BusInspector.Repository/bin/BusInspector.Repository.pdb
BusInspector.Api/BusInspector.Repository/obj/Debug/BusInspector.Repository.csprojResolveAssemblyReference.cache
BusInspector.Api/BusInspector.Repository/obj/Debug/BusInspector.Repository.dll
BusInspector.Api/BusInspector.Repository/obj/Debug/BusInspector.Repository.pdb
BusInspector.Api/BusInspector/bin/BusInspector.Data.dll
BusInspector.Api/BusInspector/bin/BusInspector.Data.pdb
BusInspector.Api/BusInspector/bin/BusInspector.dll
BusInspector.Api/BusInspector/bin/BusInspector.pdb
BusInspector.Api/BusInspector/bin/BusInspector.Repository.dll
BusInspector.Api/BusInspector/obj/Debug/BusInspector.csprojResolveAssemblyReference.cache
BusInspector.Api/BusInspector/obj/Debug/BusInspector.dll
BusInspector.Api/BusInspector/obj/Debug/BusInspector.pdb
BusInspector.Virtual/.vs/BusInspector.Virtual/v15/.suo
BusInspector.Virtual/.vs/BusInspector.Virtual/v15/Server/sqlite3/storage.ide
BusInspector.Virtual/BusInspectorApp/obj/Debug/BusInspector.Virtual.csproj.CoreCompileInputs.cache
BusInspector.Virtual/BusInspectorApp/obj/Debug/BusInspector.Virtual.csprojResolveAssemblyReference.cache
