<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

    <div ng-app="myApp" ng-controller="myCtrl">


        <hr />
        <div>
            username: <input type="text" name="" ng-model="username" />
            <br />
            password: <input type="text" name="" ng-model="password" />
        </div>
        <hr noshade />
        <div>
            <button ng-click="click_get_token()">get token </button>



            <h3>Inspeccion</h3>
            <div>
                Inspector: <input type="text" name="" ng-model="Inspector" />
                <br />
                Interno: <input type="text" name="" ng-model="Interno" />
            </div>
            <div>
                <button ng-click="click_post_Inspeccion()">post api/Inspector/</button>
            </div>





        </div>
        <hr />

        <h3>click_get_Inspecciones</h3>
        <div>
            <button ng-click="click_get_Inspecciones()">get api/Inspecciones</button>
        </div>
        <h3>click_get_Inspector</h3>
        <div>
            <button ng-click="click_get_Inspector()">get api/Inspector</button>
        </div>


        <hr />
        <hr />

        <h3>click_get_secciones</h3>
        <div>
            <button ng-click="click_get_secciones()">get api/Secciones</button>
        </div>
        <hr />


        <h3>click_get_seccion</h3>
        <div>
            seccion: <input type="text" name="" ng-model="seccion" />
            <button ng-click="click_get_seccion()">get api/click_get_seccion</button>
        </div>
        <hr />


        <div>
            <h2>resultado: </h2>
            {{resultado}}
        </div>


        
    </div>

    <script>

        
       
        var url_root = "";
      
    
        var URL_FIRMAR = url_root + "/api/Inspector";
        var URL_Seccion = url_root + "/api/Seccion";
                

        var app = angular.module('myApp', []);
        var authorizationData;
        app.factory('authInterceptorService', ['$q', '$location', function ($q, $location, localStorageService) {
            /*se ejecuta en cada peticion http*/
            var authInterceptorServiceFactory = {};

            var _request = function (config) {
                config.headers = config.headers || {};

               
                var authData = authorizationData;
                if (authData) {
                    config.headers.Authorization = 'Bearer ' + authData.token;
                }

                return config;
            }

            var _responseError = function (rejection) {
                if (rejection.status === 401) {
                    alert("ERRR 401------------");
                  
                }
                return $q.reject(rejection);
            }

            authInterceptorServiceFactory.request = _request;
            authInterceptorServiceFactory.responseError = _responseError;

            return authInterceptorServiceFactory;
        }]);

        app.config(function ($httpProvider) {
            $httpProvider.interceptors.push('authInterceptorService');
        });

        app.controller('myCtrl', function ($scope, $http, $q) {
            
         
            $scope.username ="30983000";
            $scope.password = "123";
          

            $scope.Inspector = "1";
            $scope.Interno = "28";


            $scope.click_post_Inspeccion = function () {
                
                
                var data_ispeccion = { Inspector: $scope.Inspector, Interno: $scope.Interno, Seccion: 1};
                var data = data_ispeccion;
                var url =URL_FIRMAR;
                $http.post(url, data)
                    .then(function (response) {
                        //alert("ok /api/logs");
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                        $scope.resultado = JSON.stringify(response.data);
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }

       
           
            $scope.click_post_token = function () {
                //alert("click_post_token");
                var data = { doc_tipo: $scope.doc_tipo, doc_numero: $scope.doc_nro, token: $scope.token, so: $scope.so };
                var url = URL_NOTIF_TOKEN;
                $http.post(url, data)
                    .then(function (response) {
                        //alert("ok /api/logs");
                        console.log(url + 'ok ' + url, response)
                        alert("OK " + url + "response:" + JSON.stringify(response.data));
                        $scope.resultado = JSON.stringify(response.data);
                    })
                    .catch(function (data) {
                        alert("ERR" + url + " catch");
                    });
            }
            //URL_Seccion
            //click_get_secciones

            $scope.click_get_secciones = function () {
                
                var url_p = URL_Seccion;
                                
                alert(url_p);
                $http.get(url_p)
                    .then(function (response) {
                        console.log(url_p + 'click_get_secciones ', response)
                        alert("OK " + url_p + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        alert("Error click_get_secciones. url: " + url_p);
                    });
            }


            $scope.click_get_Inspecciones = function () {
                //alert("click_get_api_dni");
                var url_p = URL_FIRMAR;
                var url_p = url_p + "?inspector=" + $scope.Inspector ;
                //$http.get(url + $scope.username)
                alert(url_p);
                $http.get(url_p)
                    .then(function (response) {
                        console.log(url_p + ' ', response)
                        alert("OK " + url_p + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        alert("Error . url: " + url_p);
                    });
            }

            $scope.click_get_Inspector = function () {
        
                var url_p = URL_FIRMAR+"/me";
                var url_p = url_p + "?dni=" + $scope.username + "&legajo=" + $scope.password;
        
                alert(url_p);
                $http.get(url_p)
                    .then(function (response) {           
                        console.log(url_p + ' ', response)
                        alert("OK " + url_p + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        alert("Error . url: " + url_p);
                    });
            }
            $scope.click_get_seccion = function () {

                var url_p = URL_Seccion + "/me";
                var url_p = url_p + "?seccion=" + $scope.seccion;

                alert(url_p);
                $http.get(url_p)
                    .then(function (response) {
                        console.log(url_p + ' ', response)
                        alert("OK " + url_p + ": " + JSON.stringify(response.data));
                        $scope.resultado = response.data;
                    })
                    .catch(function (data) {
                        alert("Error . url: " + url_p);
                    });
            }
           

            $scope.click_post_log = function () {
                //alert("click_post_api_log");
                var data = { tipo: 200, doc_tipo: $scope.doc_tipo, doc_numero: $scope.doc_nro, pantalla: $scope.pantalla, descripcion: $scope.descripcion };
                $http.post(URL_LOGS, data)
                    .then(function (response) {
                        //alert("ok /api/logs");
                        console.log(URL_LOGS + 'ok ' + URL_LOGS, response)
                        alert("OK " + URL_LOGS + "response:" + JSON.stringify(response.data));
                    })
                    .catch(function (data) {
                        alert("ERR" + URL_LOGS + " catch");
                    });
            }




            $scope.click_get_token = function () {
              
                var data = "grant_type=password&UserName=" + $scope.username + "&Password=" + $scope.password + "&client_id=_BusInspector1234$_";
       
                var deferred = $q.defer();
                $http.post(url_root + '/token', data, { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } })
                  .success(function (response) {
                      alert("Success /token");
                      console.log(response);
                  
                      authorizationData = { token: response.access_token };
                 
                      $scope.resultado = JSON.stringify(response);
                      deferred.resolve(response);



                  }).error(function (err, status) {
              
                      alert("ERRRR /token");
                      deferred.reject(err);
                  });
            }




        });





    </script>


</body>
</html>