
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}




<div class="text-center white-text mx-5 wow fadeIn">

    </br></br></br>
    <h1 class="white-text">BIENVENIDO</h1>
    @if (Session["IdUsuario"] != null)
    {
        <a href="Administracion/Home" class="btn btn-outline-white btn-lg">ADMINISTRACION</a>
    }
    else
    {

        @Html.ActionLink("INICIAR SESION", "Login", "Home", new { @class = "btn btn-outline-white btn-lg" })
    }

</div>






