@model BusInspector.Dal.Recorrido
@{
	ViewBag.Title = "EditarRecorrido";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Recorrido</h2>

</br>
@using (Html.BeginForm("EditarRecorrido", "Administracion", FormMethod.Post, new { @class = "form-signin" }))
{
	<div class="input-field">
		@Html.Label("Descripcion")
		@Html.EditorFor(m => m.Descripcion, new { @class = "validate" })
		@Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
	</div>

	
	<div class="input-field center-block">
		<input type="submit" class="btn btn-outline-white btn-lg" value="Editar">
		<a href="@Url.Action("GestionRecorrido","Administracion")" class="btn btn-outline-white btn-lg">Cancelar</a>
	</div>
}

