@model IEnumerable<BusInspector.Dal.Usuarios>


@{
	ViewBag.Title = "Inicio";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-body">
		@if (Session["NombreUsuario"] != null)
	   {

		<h4 class="text-center">Bienvenido @Session["NombreUsuario"].ToString() al Sitio de Administracion</h4>
       }

		<h6 class="text-center">Selecciona alguna de las opciones del menu superior para poder adminsitrar el complejo.</h6>
	</div>
</div>