
@model List<BusInspector.Web.Models.InfoBusquedaResultdo>

@{
	ViewBag.Title = "ReportesInspeccion";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
	<div class="panel panel-default">
		<div class="panel-body text-center">

			<h3 class="text-center">Reporte de Inspecciones</h3>
			@*@using (Html.BeginForm("ReportesInspeccion", "Administracion", FormMethod.Post))
		{*@

			<table class="table">
				<tr>
					<td><strong>Nombre del Chofer</strong></td>
					<td><strong>Legajo</strong></td>
					<td><strong>Nombre Parada</strong></td>
					<td><strong>Dni</strong></td>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>@item.NombreChofer</td>
						<td>@item.Legajo</td>
						<td>@item.NombreParada</td>
						<td>@item.Dni</td>
					</tr>
				}
			</table>
			<input id="btnExport" type="submit" class="btn btn-success btn-block" value="Generar Reporte">
			@*}*@
		</div>


	</div>
</div>


<script>
	$(document).ready(function () {

		$('#btnExport').click(function () {

			window.location = '/Inventory/ExportInventory';

		});
	});
</script>


